<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5 bg-starburst-blue-light">
    <ul class="bd-footer-links">
      <li><a href="https://www.starburstdata.com/" target="_blank">Starburst</a></li>
      <li><a href="https://www.prestosql.io/" target="_blank">Presto</a></li>
      <li><a href="https://docs.starburstdata.com/" target="_blank">Starburst Enterprise Presto documentation</a></li>
      <li><a href="{{ site.repo }}" target="_blank">Site source on GitHub</a></li>
    </ul>
    <p>Code - <a rel="license noopener" href="https://opensource.org/licenses/MIT">MIT license</a>, documentation and content - <a rel="license noopener" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>.</p>
  </div>
</footer>