.bg-starburst-blue {
  background-color: #253746;
}
.bg-starburst-blue-med {
  background-color: #7C8790;
}
.bg-starburst-blue-light {
  background-color: #D3D7DA;
}

.nav-link {
  text-transform: none;
}