<nav class="navbar navbar-expand-md navbar-dark bg-starburst-blue">
  <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/{{ site.data.boomj.logo }}"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.header-nav %}
        {% assign current = nil %}
        {% assign strippedcontext = link.context | remove: "/" %}
        {% if urlpieces[1] contains strippedcontext %}  <!--this will break if context isn't in the first part of the url-->
          {% assign current = 'active' %}
        {% endif %}
        <li class="nav-item {{ current }}">
            <a class="nav-link" href="{{ site.baseurl }}/{{ item.url}}">{{ item.title}}</a>
        </li>
      {% endfor %}
      </ul>
  </div>
</nav>
