<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/boomj/css/bootstrap-material-design.min.css" >

    <title>
      {% if page.title %}
        {{ page.title }} &middot; {{ site.title }}
      {% else %}
        {{ site.title }} &middot; {{ site.description }}
      {% endif %}
    </title>
  </head>
  <body>
   
    {{ content }}

    <script src="{{ site.baseurl }}/assets/boomj/js/jquery-3.2.1.slim.min.js"></script>
    <script src="{{ site.baseurl }}/assets/boomj/js/popper.js"></script>
    <script src="{{ site.baseurl }}/assets/boomj/js/bootstrap-material-design.js"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>